@model IEnumerable<WebApplication1.Models.Product>

@{
    ViewBag.Title = "Danh sách sản phẩm";
}

<p>
    @Html.ActionLink("Tạo mới sản phẩm", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsNew)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsNew)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.ID }) |
            @Html.ActionLink("Xoá", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
